<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <!--"4.5.2"-->
    <compilation debug="true" targetFramework="4.0.0" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <webHttpBinding>
        <binding 
			name="webHttpBinding_AnalogueService" 
			maxBufferPoolSize="2147483647" 
			maxReceivedMessageSize="2147483647"
		>
			<readerQuotas 
				maxDepth="2147483647" 
				maxStringContentLength="2147483647" 
				maxArrayLength="2147483647" 
				maxBytesPerRead="2147483647"
				maxNameTableCharCount="2147483647"
			/>
		</binding>
      </webHttpBinding>
    </bindings>
    
    <client>
      <endpoint address=""
        binding="webHttpBinding"
        contract="ServiceReference1.IAnalogueService" name="webHttpBinding_AnalogueService" />
    </client>

    <services>
      <service name="AnalogueWcfService.AnalogueService" behaviorConfiguration="ServiceBehavior">
        <endpoint 
			name="webHttpBinding_AnalogueService" 
			address="" 
			binding="webHttpBinding" 
			contract="AnalogueWcfService.IAnalogueService" 
			behaviorConfiguration="EndpointServiceBehavior" 
			bindingConfiguration="webHttpBinding_AnalogueService"
		/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>

      <endpointBehaviors>
        <behavior name="EndpointServiceBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
      <serviceBehaviors>

        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        
      </serviceBehaviors>
      
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  
  <connectionStrings>
    <add name="ServiceDBEntities" connectionString="metadata=res://*/ServiceDB.ServiceModel.csdl|res://*/ServiceDB.ServiceModel.ssdl|res://*/ServiceDB.ServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-PC; user id=sa;password=password!;MultipleActiveResultSets=True; App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>